<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kejunyao.arch">
    <application>
        <activity
            android:name=".permission.PermissionRequestActivity"
            android:theme="@style/Permission.Theme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:launchMode="singleInstance"/>
    </application>
</manifest>